*{
    padding: 0;
    margin: 0;
}
/* body{
    background: #000;
} */
 .container{
    display: flex;
    flex-wrap: wrap;
 }
.nav-item :hover{   
justify-content: center;
text-decoration: underline;
}
.Banner{
    width: 100%;;
}
.card{
   pa
    
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 122px 123px ;
}

  